<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book,local:true do |f|%>
  <label for="title">Title</label>
  <div class="field">
    <%= f.text_field:title %>
  </div>
  <label for="body">Body</label>
  <div class="field">
    <%= f.text_area:body %>
  </div>
  <div class="action">
    <%=f.submit "Update Book"%>
  </div>
<% end %>

  <%= link_to"Show","/books/#{@book.id}" %>
   |
  <%= link_to"Back","/books" %>